<div class="register-container">
    <mat-card class="register-card">

        <div class="card-header">
            <div class="icon-circle">
                <mat-icon>person_add</mat-icon>
            </div>
            <h1>Crear Cuenta</h1>
            <p>Únete a Dinastía Mascotas</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Nombre y Apellido (En una fila) -->
            <div class="row">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                    <mat-error>Requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido">
                    <mat-error>Requerido</mat-error>
                </mat-form-field>
            </div>

            <!-- Teléfono -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono" type="tel">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error>Solo números</mat-error>
            </mat-form-field>

            <!-- Correo -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" placeholder="ejemplo@correo.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>Correo inválido</mat-error>
            </mat-form-field>

            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="contrasena">
                <button mat-icon-button matSuffix (click)="togglePassword($event)" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>Mínimo 6 caracteres</mat-error>
            </mat-form-field>

            <!-- Botón -->
            <button mat-flat-button color="primary" class="full-width register-btn"
                    type="submit" [disabled]="registerForm.invalid || isLoading">
                {{ isLoading ? 'Creando...' : 'Registrarse' }}
            </button>

            <!-- Volver al Login -->
            <div class="login-link-container">
                <span>¿Ya tienes cuenta? </span>
                <a routerLink="/login">Inicia Sesión</a>
            </div>

        </form>
    </mat-card>
</div>