<div class="login-container">
    <div class="login-card">

        <button mat-icon-button routerLink="/" class="back-home-btn" aria-label="Volver al inicio">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="card-header">
            <div class="icon-circle">
                <mat-icon>pets</mat-icon>
            </div>
            <h1>Bienvenido</h1>
            <p>Ingresa a tu cuenta para gestionar tus mascotas</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" placeholder="ejemplo@dinastia.co" type="email">
                    <mat-icon matPrefix style="margin-right: 8px; color: #666;">email</mat-icon>

                    @if (loginForm.get('email')?.hasError('required')) {
                        <mat-error>El correo es requerido</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email')) {
                        <mat-error>Correo inválido</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'"
                           formControlName="password"
                           placeholder="******">
                    <mat-icon matPrefix style="margin-right: 8px; color: #666;">lock</mat-icon>

                    <button mat-icon-button matSuffix (click)="togglePassword($event)" type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    @if (loginForm.get('password')?.hasError('required')) {
                        <mat-error>La contraseña es requerida</mat-error>
                    }
                    @if (loginForm.get('password')?.hasError('minlength')) {
                        <mat-error>Mínimo 6 caracteres</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="forgot-container">
                <a class="link-text">¿Olvidaste tu contraseña?</a>
            </div>

            <button mat-flat-button class="login-btn" type="submit" [disabled]="loginForm.invalid || isLoading">
                @if (isLoading) {
                    <span>Cargando...</span>
                } @else {
                <span>INGRESAR</span>
            }
            </button>

            <div class="register-container">
                <span>¿No tienes cuenta?</span>
                <a routerLink="/registro" class="register-link">Regístrate</a>
            </div>

        </form>
    </div>
</div>