<mat-sidenav-container class="sidenav-container" autosize>

    <app-global-spinner></app-global-spinner>

    <mat-sidenav
        #sidenav
        [mode]="sidenavMode()"
        [(opened)]="isOpen"
        class="app-sidenav m3-drawer"
        [fixedInViewport]="true"
        [fixedTopGap]="0">

        <div class="sidenav-content-wrapper">
            <div class="logo-container">
                <div class="logo-icon-bg">
                    <mat-icon>pets</mat-icon>
                </div>
                <h2 class="logo-text">Dinastía</h2>
            </div>

            <mat-nav-list class="m3-nav-list">
                @for (item of menuItems; track item.label) {
                    <a
                            mat-list-item
                            [routerLink]="item.route"
                            routerLinkActive="active-link"
                            (click)="closeMenu()"
                            class="m3-nav-item">

                        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                        <span matListItemTitle>{{ item.label }}</span>
                    </a>
                }
            </mat-nav-list>

            <div class="spacer"></div>

            <div class="user-profile m3-user-card">
                <img src="assets/avatar-placeholder.png" alt="User" class="avatar-img"
                     onerror="this.src='https://ui-avatars.com/api/?name=Alex+SEO&background=random'">
                <div class="user-info">
                    <span class="user-name">Paul Montealegre</span>
                    <span class="user-role">Administrador</span>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">

        <mat-toolbar class="app-toolbar">
            @if (isMobile()) {
                <button mat-icon-button (click)="toggleSidenav()" class="menu-btn">
                    <mat-icon>menu</mat-icon>
                </button>
            }

            <span class="page-title">
                @if(isMobile()) { Dinastía } @else { Panel de Control }
            </span>

            <span class="toolbar-spacer"></span>

            <div class="actions-container">

                <button mat-icon-button
                        (click)="logout()"
                        class="logout-btn-toolbar"
                        matTooltip="Cerrar Sesión">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <div class="router-wrapper">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>